body{
    --about-color:#ffe342;
}
/* Nav */
nav h1
{
    color: white;
}
nav
{
    background-color: transparent;
    width: 100%;
    margin-top: 10px;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
}
.navContent
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.head
{
    width: 25%;
}
nav ul 
{
    margin: 0px;
    display: flex;
    list-style-type: none;
    align-content: end;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin: 5px 25px;
    padding: 5px 0px;
    transition: all 1s;
}
.navParent
{
    position: relative; 
    /* overflow: hidden; */
}

.navParent a::after {
    content: ""; 
    opacity: 0;
    width: 60%; 
    height: 8%; 
    position: absolute; 
    bottom: -10px;
    left: 0px; 
    background-color: gold; 
    transition: all .1s ease-in-out;
}
.navParent a:hover::after 
{
    opacity: 1;
    /* transform: translateX(20px); */
    left: 18px;
    color: brown;
}
.account-buttons a{
    text-decoration: none;
    color: white;
}
.account-buttons button{
    background-color: transparent;
    color: white;
    padding: 7px;
    border-width: 0px;
    width: 6vw;
}
.account-buttons button:nth-child(2){
    border: 1px white solid;
    transform:translateX(5px);
    border-radius: 10px;
}
.account-buttons button:hover{
    opacity: 0.8;
}
/* home */
.home
{
    background-image: url(../imgs/about.jpg);
    background-position: bottom center;
    background-size:  cover;
    height: 50vh;
    margin-bottom: 20px;

}


.layer
{
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.layer h2{
    font-size: 2.5rem;
    transform: translate(7vw,-10vh);
}
.layer h2::before{
    content: "";
    height: 70px;
    width: 3px;
    background-color: var(--about-color);
    display: inline-block;
    transform: translate(-2vw,30%);
}
/* About */
a
{
    text-decoration: none;
}
.Head
{
    display: flex;
    align-items: center;
    font-size: 19px;
    border-bottom: solid 1px rgb(192, 187, 187);
    margin-bottom: 20px;
}


.Head span
{
    font-size: 15px;
    color: gray;
    margin-right: 5px;
    margin-left: 12px;
    margin-bottom: 15px;
}
/* why choose us */
#About{
    padding: 5% 7% 3% 7%;
    background-color: white;
    --about-color:#ffe342;
}
.sub-header{
    color:goldenrod;
    text-align: center;
    font-size: larger;
}
.sub-header::before{
    display: inline-block;
    content: "";
    width: 30px;
    height:2px;
    background-color: goldenrod;
    transform: translate(-30%,-100%);
}
.sub-header::after{
    display: inline-block;
    content: "";
    width: 30px;
    height:2px;
    background-color: goldenrod;
    transform: translate(30%,-100%);
}
.about-items{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}
#About h3,#About p{
    color:black;
    text-align: center;

}
#About img{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    /* font-size: 50px; */
    color: var(--about-color);
    width: 30%;
    /* height: 70px; */
}
#About h3{
    font-size: 20px;
}

#About{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-content: space-between; */
    gap: 20px;
}
.about-container{
    margin: 15px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;;
}


/* About us */
#Aboutus{
    padding: 3% 10% 0% 10%;
}
#description
{
    margin-top: 5%;
    display: flex;
}
#about-img img{
    width: 100%;
    height: 100%;
}
#about-img{
    width: 40%;
    height: 55vh;
    margin-right: 5%;
}
#about-desc{
    transform: translateY(5%);
}
#about-desc #desc
{
    margin-left: 3%;
    color: #6B6A75;
}
#about-desc li{
    margin-bottom:2% ;
}
/* Statistics */
#Statistics
{
    margin: 0% 10% 7% 10%;
    background-image: url(../imgs/mount-everest-pictures-1656-x-900-0p2xlriorb502v2k.jpg);
    margin-top: 50px;
    height: 40vh;
    background-position:center  ;
    background-size: cover;
}
#Statistics  .layer
{
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, .7);
}
#Statistics  .layer .container
{
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    justify-content: space-around;
    color: white;
}
#Statistics  .layer .container .firstone
{
    text-align: center;
    font-size: 20px;
}

/* instructors */
#instructors #content{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;

}
.instructor-card img{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    outline: 1px pink dashed;

}

/* footer */
#Contact
{
 
    background-color: black;
    color: white;
}
.Contact-details
{
    width: 80%;
    padding: 30px 0px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
}
.Contact-icons
{
    margin-bottom: 20px;
}
.Contact-icons i
{
    color: rgb(200, 171, 26);
    margin-right: 5px;    
}
.social-icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.socialBtn
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.Contact-details .secondsecion a
{
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}
.Contact-details .secondsecion a:hover
{
    color:rgb(200, 171, 26) ;
}
