@media screen and (max-width: 599px) {
    /* Course */

    .mainCourses
    {
        flex-wrap: wrap;
    }
    .CourseCard
    {
        width: 100%;
    }
    #Statistics  .layer .container
    {
        flex-wrap: wrap;
    }
    #Statistics  .layer .container .firstone
    {
        width: 50%;

    }
    .content
    {
        width: 100%;
    }
    .content
    {
        flex-wrap: wrap;
    }
    .CourseCardPage
    {
        width: 100%;
    }

    /* about us */
    #description{
        flex-wrap: wrap;
    }
    #description div{
        width: 100%;        
    }

    /* instructor */
    #instructors #content{
        flex-wrap: wrap;
    }
    .instructor-card{
        width: 100%;
    }

}

@media screen and (min-width:600px) and (max-width: 768px) {
    .mainCourses
    {
        flex-wrap: wrap;
    }
    .CourseCard
    {
        width: 42%;
    }
    #Statistics  .layer .container
    {
        flex-wrap: wrap;
    }
    #Statistics  .layer .container .firstone
    {
        width: 50%;

    }
    .CourseCardPage
    {
        width: 100%;
    }
    .content
    {
        flex-wrap: wrap;
    }

}
@media screen and (min-width:769px) and (max-width: 991px) {
    .mainCourses
    {
        flex-wrap: wrap;
    }
    .CourseCard
    {
        width: 42%;
    }
    .CourseCardPage
    {
        width: 42%;
    }
    .content
    {
        flex-wrap: wrap;
    }
}
@media screen and (min-width:992px) and(max-width: 1200px) {
    .mainCourses
    {
        flex-wrap: wrap;
    }
    .CourseCard
    {
        width: 25%;
    }
    .CourseCardPage
    {
        width: 34%;
    }
}
@media (max-width: 700px){
    .about-container{
        grid-template-columns: 1fr;
    }
}